body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
}

@media only screen and (max-width: 480px) {
  body {
    margin-top: 1rem;
  }
}

body, p, a {
  color: #333;
}

.logo {
  margin-left: -1rem;
}

.name, .title {
  font-family: 'Roboto', sans-serif;
}
.name {
  margin-bottom: 0;
  font-size: 1.5rem;
}
.title {
  color: gray;
  font-size: 0.9rem;
}

.blurb {
  width: 20em;
  font-size: 1rem;
  margin: 2rem auto;
}
@media only screen and (max-width: 480px) {
  .blurb {
    width: auto;
    font-size: 1.2rem;
  }
}

.links {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}
.links a {
  display: inline-block;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.links a:hover,
.links a:active {
  color: red;
}

@media only screen and (max-width: 480px) {
  .links {
    margin: 0 1rem 1rem 1rem;
  }
  .links a {
    display: inline-block;
    font-size: 1.8rem;
    border: solid 1px silver;
    margin: 0 0 0.5rem 0;
    padding: 1rem 0;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 0.5rem;
  }
}
