

/* Body */
body {
  padding: 5em;
  text-align: center;
}
@media only screen and (max-device-width: 480px) {
  body {
    padding: 1em;
  }
}

/* Spacing */
body > * {
  margin-bottom: 2em;
}

/* Logo & Photo */
.logo, .photo {
  width: 8em;
  height: 8em;
}

/* Photo */
.photo {
  border-radius: 100%;
  display: inline-block;
}

/* Name */
.name {
  color: maroon;
}

/* Links */
.links {
  display: inline-block;
}
.links a {
  color: #510D0A;
  text-decoration: none;
  border-bottom: solid 1px #F3B61F;
  display: inline-block;
  margin-bottom: 1em;
}
.links a:not(:last-child) {
  margin-right: 1em;
}
.links a:hover,
.links a:active {
  background-color: #510D0A;
  color: white;
}
@media only screen and (max-device-width: 480px) {
  .links a {
    width: 100%;
    border: solid 1px #F3B61F;
    padding: 0.5em 0;
  }
}
